<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectAlbatross.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10C0B0581E73331F002E99A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C0B06F1E73331F002E99A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C0B07A1E73331F002E99A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
